{% extends 'main/Emprero.html' %}
{% load static %}


{% block content %}
<div class="uk-card uk-card-default uk-grid-collapse" uk-grid xmlns="http://www.w3.org/1999/html">
    <div class="uk-card-media-right uk-width-2-3@m uk-cover-container">
        <div class="uk-position-absolute" uk-cover>
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A64ef8a0d7f4b0a3f007d029541fb5a4527e20bf89e79f8d0aa40a671e2de9247&amp;width=1000&amp;height=600&amp;lang=ru_RU&amp;scroll=true">
                "use strict"
            </script>
        </div>
        <canvas height="600"></canvas>
    </div>
    <div class="uk-card-body uk-width-1-3@m uk-padding">
        <div class="uk-margin-medium">
            <div class="uk-text-center uk-text-muted uk-text-bold uk-text-large">
                <p>Телефон</p>
            </div>
            <div class="uk-text-center uk-text-muted">
                <p>+79999675404</p>
            </div>
        </div>
        <div class="uk-margin-medium">
            <div class="uk-text-center uk-text-muted uk-text-bold uk-text-large">
                <p>Электронная почта</p>
            </div>
            <div class="uk-text-center uk-text-muted">
                <p>k.cheglov1945@mail.ru</p>
            </div>
        </div>
        <div class="uk-margin-medium">
            <div class="uk-text-center uk-text-muted uk-text-bold uk-text-large">
                <p>Адрес</p>
            </div>
            <div class="uk-text-center uk-text-muted">
                <p>Россия, Санкт-Петербург, улица Ленсовета, 23</p>
            </div>
        </div>
        <div class="uk-margin-medium uk-flex uk-flex-center">
            <div class="uk-margin-small-right">
                <a href="#" class="uk-icon-button" uk-icon="icon: instagram; ratio: 1.5"></a>
            </div>
            <div class="uk-margin-small-left uk-margin-small-right">
                <a href="#" class="uk-icon-button" uk-icon="icon: youtube; ratio: 1.5"></a>
            </div>
            <div class="uk-margin-small-left">
                <a href="#" class="uk-icon-button" uk-icon="icon: google; ratio: 1.5"></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}