{% extends 'main/Emprero.html' %}
{% load static %}


{% block content %}
<div>
    <div class="uk-card uk-card-default uk-grid-collapse" uk-grid>
        <div class="uk-card-media-left uk-width-1-2@m uk-cover-container">
            <div class="uk-position-relative" tabindex="-1"
                 uk-slideshow=" min-height: 600; animation: push; autoplay: true; autoplay-interval: 6000; pause-on-hover: true">
                <ul class="uk-slideshow-items">
                    <li>
                        <img src="{{card.photo_1.url}}" uk-cover>
                    </li>
                    <li>
                        <img src="{{card.photo_2.url}}" uk-cover>
                    </li>
                    <li>
                        <img src="{{card.photo_3.url}}" uk-cover>
                    </li>
                </ul>
                <div class="uk-position-small uk-position-bottom-center">
                    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center"></ul>
                </div>
            </div>
        </div>
        <div class="uk-card-body uk-width-1-2@m uk-padding">
            <div class="uk-flex">
                <div class="uk-margin-auto-right uk-width-3-5">
                    <dl class="uk-description-list">
                        <div class="uk-text-bold uk-text-large uk-text-muted">
                            <dt>{{card.title}}</dt>
                        </div>
                        <div class="uk-text-small uk-text-muted">
                            <dd>{{card.description}}</dd>
                        </div>
                    </dl>
                </div>
                <div class="uk-margin-auto-left">
                    <dl class="uk-description-list">
                        <div class="uk-text-bold uk-text-large uk-text-muted uk-margin-small uk-width-expand">
                            <dd>{{card.price}} руб</dd>
                        </div>
                    </dl>
                </div>
            </div>
            <form action="{% url 'cart_add' card.id %}" method="post">
                {% csrf_token %}
                <div class="uk-margin-small-bottom uk-margin-medium-top">
                    <p class="uk-text-muted">Выберите размер</p>
                </div>
                {{ form.size }}
                <div class="uk-margin">
                    <div>
                        <p class="uk-text-muted">Доставим ваш заказ:</p>
                    </div>
                    <div class="uk-flex">
                        <div class="uk-margin-small-right">
                            <a uk-icon="icon: mail"></a>
                        </div>
                        <div>
                            <p class="uk-text-muted">по почте</p>
                        </div>
                    </div>
                    <div class="uk-flex">
                        <div class="uk-margin-small-right">
                            <a uk-icon="icon: home"></a>
                        </div>
                        <div>
                            <p class="uk-text-muted">по адресу, курьером, с примеркой</p>
                        </div>
                    </div>
                </div>
                <div class="uk-child-width-1-2" uk-grid>
                    <div>
                        <button type="submit" name="buy" class="uk-button uk-button-default uk-width-1-1">Купить
                        </button>
                    </div>
                    <div>
                        <button type="submit" name="to_cart" class="uk-button uk-button-default uk-width-1-1">В
                            корзину
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}