<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'main\css\uikit.css' %}">
		<link rel="icon" type="image/png" href="{% static '../images/favicon-15x15.png' %}">

		<style>
			#bd{
				min-height: 100vh;
			}
			#header{
				box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
			}
		</style>
	</head>
	<body>
		<div id="bd" class="uk-flex uk-flex-column">
			{% block header %}
			<div id="header" uk-sticky="top: 100; animation: uk-animation-slide-top">
				<nav class="uk-navbar-container" uk-navbar>
					<div class="uk-navbar-center">
						<div class="uk-navbar-center-left">
							<a href="{% url 'home' %}" class="uk-navbar-item uk-logo">EMPRERO</a>
						</div>
						<div class="uk-margin-large-left uk-margin-large-right">
							<ul class="uk-navbar-nav">
								{% if title == 'Home' %}
									<li><a href="products-grid" uk-scroll>Товары</a></li>
								{% else %}
									<li><a href="{% url 'home' %}">Товары</a></li>
								{% endif %}
								<li><a href="{% url 'us'%}">О нас</a></li>
								<li><a href="{% url 'contacts'%}">Контакты</a></li>
							</ul>
						</div>
						<div class="uk-navbar-center-right uk-flex">
							<div>
								<a href="{% url 'cart' %}" class="uk-navbar-item" uk-icon="icon: cart; ratio: 1.5"></a>
							</div>
							<div>
								<a href="#" class="uk-navbar-item" uk-icon="icon: user; ratio: 1.5"></a>
							</div>
						</div>
					</div>
				</nav>
			</div>
				{% endblock header %}
			<div class="uk-container uk-margin-large" style="width: 90%">
				{% block content %}
				{% endblock content %}
			</div>
				{% block footer %}
			<div class="uk-margin-auto-top">
				<nav class="uk-navbar-container" uk-navbar>
					<div class="uk-navbar-center">
						<div class="uk-navbar-center-left">
							<a href="{% url 'home' %}" class="uk-navbar-item uk-logo">EMPRERO</a>
						</div>
						<div class="uk-margin-large-left uk-margin-large-right uk-navbar-item">
							<div class="uk-margin-small-right">
								<a href="#" class="uk-icon-button" uk-icon="icon: instagram; ratio: 1.5"></a>
							</div>
							<div class="uk-margin-small-left uk-margin-small-right">
								<a href="#" class="uk-icon-button" uk-icon="icon: youtube; ratio: 1.5"></a>
							</div>
							<div class="uk-margin-small-left">
								<a href="#" class="uk-icon-button" uk-icon="icon: google; ratio: 1.5"></a>
							</div>
						</div>
						<div class="uk-navbar-center-right">
							<div>
								<ul class="uk-navbar-nav">
									<li><a href="#">All right reserved.</a></li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
		{% endblock footer %}
		<script src="{% static 'main\js\uikit.js' %}"></script>
		<script src="{% static 'main\js\uikit-icons.js' %}"></script>
	</body>
</html>